<style>
	.mohe-demo .mohe-wrap{
		padding: 15px;
	}
	.mohe-demo .mh-ui-filter{
		width: 100%;/*兼容ie6*/
		position: relative;
		line-height: 18px;
	}
	.mohe-demo .mh-ui-filter .mh-ui-list{
		margin-right: 50px;
		margin-bottom: 10px;
		height: 18px;
		overflow: hidden;
	}
	.mohe-demo .mh-ui-filter .mh-ui-more{
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		text-align: right;
	}
	.mohe-demo .mh-ui-filter .mh-ui-list a{
		padding-left: 10px;
	}
	.mohe-demo .mh-ui-filter .mh-ui-lab{
		display: inline-block;
		_zoom: 1;
		width: 38px;
		background: #6fb963;
		text-align: center;
		color: white;
	}
</style>
<div class="mohe-demo">
	<div class="mohe-wrap">
		<div class="mh-ui-filter">
			<div class="mh-ui-list">
				<span class="mh-ui-lab">功效</span>
				<a href="#" target="_blank">防脱妆</a>
				<a href="#" target="_blank">清秀</a>
				<a href="#" target="_blank">均匀肤色</a>
				<a href="#" target="_blank">美白保湿</a>
				<a href="#" target="_blank">持久滋润</a>
				<a href="#" target="_blank">防水性</a>
				<a href="#" target="_blank" class="mh-ui-more">更多&gt;&gt;</a>
			</div>
		</div>
		<div class="mh-ui-filter">
			<div class="mh-ui-list">
				<span class="mh-ui-lab">品牌</span>
				<a href="#" target="_blank">希思黎</a>
				<a href="#" target="_blank">迪奥</a>
				<a href="#" target="_blank">巴黎欧莱雅</a>
				<a href="#" target="_blank">海蓝之谜</a>
				<a href="#" target="_blank">赫莲娜</a>
				<a href="#" target="_blank">法国娇兰</a>
				<a href="#" target="_blank" class="mh-ui-more">更多&gt;&gt;</a>
			</div>
		</div>
		<div class="mh-ui-filter">
			<div class="mh-ui-list">
				<span class="mh-ui-lab">价格</span>
				<a href="#" target="_blank">100元以下</a>
				<a href="#" target="_blank">101-200元</a>
				<a href="#" target="_blank">201-300元</a>
				<a href="#" target="_blank">301-400元</a>
				<a href="#" target="_blank">401-500元</a>
				<a href="#" target="_blank" class="mh-ui-more">更多&gt;&gt;</a>
			</div>
		</div>
	</div>
</div>