<style>
	.mohe-demo .mh-list li {
		padding-left: 8px;
		background: url(http://p8.qhimg.com/t01a812c9b21b214642.gif) left 7px no-repeat;
	}
	.mohe-demo .mh-list label {
		color: #666;
	}
</style>
<div class="mohe-demo">
	<ul class="mh-list">
		<li>
			<label>元素：</label>1.方块符号； 2.标签； 3.内容；
		</li>
		<li>
			<label>元素特征：</label>1.颜色各异（符号浅灰色、标签灰色、内容黑色）； 2.灰色标签的字数各不相同，所以不考虑对齐问题； 3.内容会换行，所以要考虑让浅灰色的方形符号单独成列
		</li>
		<li>
			<label>最后的选择结果：</label>方块符号用li的背景图实现，标签用行内元素label实现，内容就文本
		</li>
	</ul>
</div>