<style>
.mohe-demo .cont{
	padding: 10px;
}
/* list start */
.mohe-demo .mh-ui-li{
	float: left;
	position: relative;
	padding-left: 8px;
	width: 245px;
	height: 28px;
	line-height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mohe-demo .mh-ui-li-odd{
	margin-right: 6px;
}
.mohe-demo .mh-ui-li-tri{
	background: url(http://p9.qhimg.com/t010c8d1f1efacae726.gif) left center no-repeat;
}
.mohe-demo .mh-ui-li-cir{
	background: url(http://p2.qhimg.com/t0127e3037f88d8b075.gif) left center no-repeat;
}
.mohe-demo .mh-ui-li-rec{
	background: url(http://p8.qhimg.com/t01a812c9b21b214642.gif) left center no-repeat;
}
</style>
<div class="mohe-demo">
	<div class="cont mohe-wrap">
		<ul class="gclearfix">
			<li class="mh-ui-li mh-ui-li-odd mh-ui-li-tri">
				<a href="##" target="_blank" class="mh-ui-txt">宝宝爱吃糖吗？</a>
			</li>
			<li class="mh-ui-li mh-ui-li-tri">
				<a href="##" target="_blank" class="mh-ui-txt">宝宝爱吃啥</a>
			</li>
			<li class="mh-ui-li mh-ui-li-odd mh-ui-li-rec">
				<a href="##" target="_blank" class="mh-ui-txt">宝宝爱吃甜食</a>
			</li>
			<li class="mh-ui-li mh-ui-li-rec">
				<a href="##" target="_blank" class="mh-ui-txt">宝宝还爱吃米饭</a>
			</li>
			<li class="mh-ui-li mh-ui-li-odd mh-ui-li-cir">
				<a href="##" target="_blank" class="mh-ui-txt">宝宝爱喝牛奶爱吃苹果爱吃香蕉</a>
			</li>
			<li class="mh-ui-li mh-ui-li-cir">
				<a href="##" target="_blank" class="mh-ui-txt">宝宝爱吃糖宝宝爱吃糖宝宝爱吃糖宝宝爱吃糖宝宝爱吃糖</a>
			</li>
		</ul>
	</div>
</div>