<style>
.mohe-demo .mh-list-pic li{
	float: left;
	width: 114px;
	padding: 0px 10px 15px;
	overflow: hidden;
	_display:inline;
}

.mohe-demo .mh-list-pic .mh-cover{
	position: relative;
	display: block;
	width: 100%;
	height: 135px;
	overflow: hidden;
	color: #666;
	text-decoration: none;
	zoom:1;
}
.mohe-demo .mh-list-pic .mh-square{
	height: 114px;
}
.mohe-demo .mh-list-pic .mh-mask-tit,
.mohe-demo .mh-list-pic .mh-tit{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	display: block;
}
.mohe-demo .mh-list-pic .mh-mask-tit{
	background-color: #000;
	opacity: .4;
	filter:alpha(opacity=40);
}
.mohe-demo .mh-list-pic .mh-tit{
	color: #fff;
	display: none;
}

.mohe-demo .mh-img{
	position: relative;
}
.mohe-demo .mh-text{
	padding-left: 5px;
	color: #fff;
	position: relative;
}
.mohe-demo .mh-img-download{
	background: url(https://p.ssl.qhimg.com/d/inn/7c5c2876/music_icon.png) no-repeat;
	display: inline-block;
	width: 19px;
	height: 19px;
	overflow: hidden;
	background-position: -49px 0;
	position: absolute;
	bottom: 0;
	right: 5px;
}
.mohe-demo  .mh-img-download:hover {
	background-position: -49px -42px;
}
.mohe-demo .mh-list-pic .mh-mask{
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: .3;
	filter:alpha(opacity=30);
}

.mohe-demo .mh-list-pic .mh-cover:hover .mh-mask{
	display: block;
	cursor: pointer;
}
.mohe-demo .mh-list-pic .mh-cover:hover .mh-mask-tit,
.mohe-demo .mh-list-pic .mh-cover:hover .mh-tit{
	display: block;
}
</style>
<div class="mohe-demo">
	<ul class="mh-list-pic g-clearfix">
		<li>
			<div class="mh-img js-img-wrap">
				<a href="##" class="mh-cover" target="_blank" data-md="">
					<img src="https://ps.ssl.qhimg.com/dmt/110_132_100/t016ade0d1a58603acc.jpg" width="114">
					<span class="mh-mask"></span>
				</a>
				<span class="mh-tit" style="display: none;">
					<span class="mh-mask-tit"></span>
					<span class="mh-text">600x900</span>
					<a class="mh-img-download" href="##" target="_self" data-md=""></a>
				</span>
			</div>
		</li>
		<li>
			<div class="mh-img js-img-wrap">
				<a href="##" class="mh-cover" target="_blank" data-md="">
					<img src="http://ps.ssl.qhimg.com/dmt/110_132_100/t01632b6750d0260884.jpg" width="114">
					<span class="mh-mask"></span>
				</a>
				<span class="mh-tit" style="display: none;">
					<span class="mh-mask-tit"></span>
					<span class="mh-text">600x900</span>
					<a class="mh-img-download" href="##" target="_self" data-md=""></a>
				</span>
			</div>
		</li>
		<li>
			<div class="mh-img js-img-wrap">
				<a href="##" class="mh-cover" target="_blank" data-md="">
					<img src="http://ps.ssl.qhimg.com/dmt/110_132_100/t016ade0d1a58603acc.jpg" width="114">
					<span class="mh-mask"></span>
				</a>
				<span class="mh-tit" style="display: none;">
					<span class="mh-mask-tit"></span>
					<span class="mh-text">600x900</span>
					<a class="mh-img-download" href="##" target="_self" data-md=""></a>
				</span>
			</div>
		</li>
		<li>
			<div class="mh-img js-img-wrap">
				<a href="##" class="mh-cover" target="_blank" data-md="">
					<img src="http://ps.ssl.qhimg.com/dmt/110_132_100/t01ce24e7ed87e8cbb1.jpg" width="114">
					<span class="mh-mask"></span>
				</a>
				<span class="mh-tit" style="display: none;">
					<span class="mh-mask-tit"></span>
					<span class="mh-text">600x900</span>
					<a class="mh-img-download" href="##" target="_self" data-md=""></a>
				</span>
			</div>
		</li>
		<li>
			<div class="mh-img js-img-wrap">
				<a href="##" class="mh-cover" target="_blank" data-md="">
					<img src="http://ps.ssl.qhimg.com/dmt/110_132_100/t01847f09e1c8c1f87c.jpg" width="114">
					<span class="mh-mask"></span>
				</a>
				<span class="mh-tit" style="display: none;">
					<span class="mh-mask-tit"></span>
					<span class="mh-text">600x900</span>
					<a class="mh-img-download" href="##" target="_self" data-md=""></a>
				</span>
			</div>
		</li>
		<li>
			<div class="mh-img js-img-wrap">
				<a href="##" class="mh-cover" target="_blank" data-md="">
					<img src="http://ps.ssl.qhimg.com/dmt/110_132_100/t01e1298849c498eb61.jpg" width="114">
					<span class="mh-mask"></span>
				</a>
				<span class="mh-tit" style="display: none;">
					<span class="mh-mask-tit"></span>
					<span class="mh-text">600x900</span>
					<a class="mh-img-download" href="##" target="_self" data-md=""></a>
				</span>
			</div>
		</li>
		<li>
			<div class="mh-img js-img-wrap">
				<a href="##" class="mh-cover" target="_blank" data-md="">
					<img src="http://ps.ssl.qhimg.com/dmt/110_132_100/t018b6d9e3029ef88b7.jpg" width="114">
					<span class="mh-mask"></span>
				</a>
				<span class="mh-tit" style="display: none;">
					<span class="mh-mask-tit"></span>
					<span class="mh-text">600x900</span>
					<a class="mh-img-download" href="##" target="_self" data-md=""></a>
				</span>
			</div>
		</li>
		<li>
			<div class="mh-img js-img-wrap">
				<a href="##" class="mh-cover" target="_blank" data-md="">
					<img src="http://ps.ssl.qhimg.com/dmt/110_132_100/t01214da7fbb0d172df.jpg" width="114">
					<span class="mh-mask"></span>
				</a>
				<span class="mh-tit" style="display: none;">
					<span class="mh-mask-tit"></span>
					<span class="mh-text">600x900</span>
					<a class="mh-img-download" href="##" target="_self" data-md=""></a>
				</span>
			</div>
		</li>
		<li>
			<div class="mh-img js-img-wrap">
				<a href="##" class="mh-cover" target="_blank" data-md="">
					<img src="http://ps.ssl.qhimg.com/dmt/110_132_100/t01da2de7c377427924.jpg" width="114">
					<span class="mh-mask"></span>
				</a>
				<span class="mh-tit" style="display: none;">
					<span class="mh-mask-tit"></span>
					<span class="mh-text">600x900</span>
					<a class="mh-img-download" href="##" target="_self" data-md=""></a>
				</span>
			</div>
		</li>
		<li>
			<div class="mh-img js-img-wrap">
				<a href="##" class="mh-cover" target="_blank" data-md="">
					<img src="http://ps.ssl.qhimg.com/dmt/110_132_100/t01632b6750d0260884.jpg" width="114">
					<span class="mh-mask"></span>
				</a>
				<span class="mh-tit" style="display: none;">
					<span class="mh-mask-tit"></span>
					<span class="mh-text">600x900</span>
					<a class="mh-img-download" href="##" target="_self" data-md=""></a>
				</span>
			</div>
		</li>
		<li>
			<div class="mh-img js-img-wrap">
				<a href="##" class="mh-cover" target="_blank" data-md="">
					<img src="http://ps.ssl.qhimg.com/dmt/110_132_100/t01214da7fbb0d172df.jpg" width="114">
					<span class="mh-mask"></span>
				</a>
				<span class="mh-tit" style="display: none;">
					<span class="mh-mask-tit"></span>
					<span class="mh-text">600x900</span>
					<a class="mh-img-download" href="##" target="_self" data-md=""></a>
				</span>
			</div>
		</li>
		<li>
			<div class="mh-img js-img-wrap">
				<a href="##" class="mh-cover" target="_blank" data-md="">
					<img src="http://ps.ssl.qhimg.com/dmt/110_132_100/t01632b6750d0260884.jpg" width="114">
					<span class="mh-mask"></span>
				</a>
				<span class="mh-tit" style="display: none;">
					<span class="mh-mask-tit"></span>
					<span class="mh-text">600x900</span>
					<a class="mh-img-download" href="##" target="_self" data-md=""></a>
				</span>
			</div>
		</li>
	</ul>
</div>
<script type="text/javascript">
_loader.use("jquery",function(){
	var context = $(".mohe-demo"),
		listImgClass = ".js-img-wrap";

	context.on('mouseover',listImgClass,function(){
			var me = $(this);
				me.find('.mh-tit').show();
	}).on('mouseout',listImgClass,function(){
		var me = $(this);
			me.find('.mh-tit').hide();
	})
})
</script>