<style>
.mohe-demo .mh-list-pic {
		margin-right:-10px;
	}
	.mohe-demo .mh-list-pic li{
		float: left;
		width: 166px;
		padding: 0px 10px 10px 0;
		overflow: hidden;
		_display:inline;
	}
	.mohe-demo .mh-text-rt{
		position: absolute;
		width: 86px;
		right: 5px;
		text-align: right;
		white-space: nowrap;
	}
	.mohe-demo .mh-list-pic .mh-cover{
		position: relative;
		display: block;
		width: 100%;
		height: 104px;
		overflow: hidden;
		color: #666;
		text-decoration: none;
		zoom:1;
	}
	.mohe-demo .mh-list-pic .mh-mask-tit,
	.mohe-demo .mh-list-pic .mh-tit{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 20px;
		line-height: 20px;
		display: block;
	}
	.mohe-demo .mh-list-pic .mh-mask-tit{
		background-color: #000;
		opacity: .4;
		filter:alpha(opacity=40);
	}
	.mohe-demo .mh-list-pic .mh-tit{
		color: #fff;
	}

	.mohe-demo .mh-img{
		position: relative;
	}
	.mohe-demo .mh-text{
		padding-left: 5px;
		color: #fff;
		position: relative;
	}
	.mohe-demo .mh-img-download{
		background: url(https://p.ssl.qhimg.com/d/inn/7c5c2876/music_icon.png) no-repeat;
		display: inline-block;
		width: 19px;
		height: 19px;
		overflow: hidden;
		background-position: -49px 0;
		position: absolute;
		bottom: 0;
		right: 5px;
	}
	.mohe-demo  .mh-img-download:hover {
		background-position: -49px -42px;
	}
	.mohe-demo .mh-list-pic .mh-mask{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		opacity: .3;
		filter:alpha(opacity=30);
		display:none;
	}
	.mohe-demo .mh-list-pic .mh-cover:hover .mh-mask{
		display: block;
		cursor: pointer;
	}
	.mohe-demo .mh-list-pic .mh-cover:hover .mh-mask-tit,
	.mohe-demo .mh-list-pic .mh-cover:hover .mh-tit{
		display: block;
	}
</style>
<div class="mohe-demo">
	<ul class="mh-list-pic g-clearfix">
	<li>
		<div class="mh-img js-img-wrap">
			<a href="#" class="mh-cover" target="_blank">
				<img src="https://ps.ssl.qhimg.com/dm/196_123_/t01c19eabea5ea22c87.jpg" width="166" alt="壁纸图片">
				<span class="mh-mask"></span>
			</a>
			<span class="mh-tit">
				<span class="mh-mask-tit"></span>
				<span class="mh-text">1680x1050</span>
				<span class="mh-text-rt" title="保时捷911经典桌面壁纸">保时捷911经...</span>
			</span>
		</div>
	</li>
	<li>
		<div class="mh-img js-img-wrap">
			<a href="#" class="mh-cover" target="_blank">
				<img src="https://ps.ssl.qhimg.com/dm/196_123_/t019d23250db76cbad8.jpg" width="166" alt="壁纸图片">
				<span class="mh-mask"></span>
			</a>
			<span class="mh-tit">
				<span class="mh-mask-tit"></span>
				<span class="mh-text">2560x1600</span>
				<span class="mh-text-rt" title="高清莲花桌面壁纸">高清莲花桌面壁纸</span>
			</span>
		</div>
	</li>
	<li>
		<div class="mh-img js-img-wrap">
			<a href="#" class="mh-cover" target="_blank">
				<img src="https://ps.ssl.qhimg.com/dm/196_123_/t0107f30e09d52a917f.jpg" width="166" alt="壁纸图片">
				<span class="mh-mask"></span>
			</a>
			<span class="mh-tit">
				<span class="mh-mask-tit"></span>
				<span class="mh-text">1600x1000</span>
				<span class="mh-text-rt" title="梦幻星际科幻电脑壁纸">梦幻星际科幻...</span>
			</span>
		</div>
	</li>
	<li>
		<div class="mh-img js-img-wrap">
			<a href="#" class="mh-cover" target="_blank">
				<img src="https://ps.ssl.qhimg.com/dm/196_123_/t018f53d8da05b7299d.jpg" width="166" alt="壁纸图片">
				<span class="mh-mask"></span>
			</a>
			<span class="mh-tit">
				<span class="mh-mask-tit"></span>
				<span class="mh-text">1440x900</span>
				<span class="mh-text-rt" title="手绘坦克桌面壁纸">手绘坦克桌面壁纸</span>
			</span>
		</div>
	</li>
	<li>
		<div class="mh-img js-img-wrap">
			<a href="#" class="mh-cover" target="_blank">
				<img src="https://ps.ssl.qhimg.com/dm/196_123_/t018a538febe6e95f90.jpg" width="166" alt="壁纸图片">
				<span class="mh-mask"></span>
			</a>
			<span class="mh-tit">
				<span class="mh-mask-tit"></span>
				<span class="mh-text">1920x1080</span>
				<span class="mh-text-rt" title="美女刘雪妮写真桌面壁纸">美女刘雪妮写...</span>
			</span>
		</div>
	</li>
	<li>
		<div class="mh-img js-img-wrap">
			<a href="#" class="mh-cover" target="_blank">
				<img src="https://ps.ssl.qhimg.com/dm/196_123_/t018359bd933097853d.jpg" width="166" alt="壁纸图片">
				<span class="mh-mask"></span>
			</a>
			<span class="mh-tit">
				<span class="mh-mask-tit"></span>
				<span class="mh-text">1920x1080</span>
				<span class="mh-text-rt" title="中国水墨画电脑壁纸">中国水墨画电...</span>
			</span>
		</div>
	</li>
	<li>
		<div class="mh-img js-img-wrap">
			<a href="#" class="mh-cover" target="_blank">
				<img src="https://ps.ssl.qhimg.com/dm/196_123_/t010f53561e4069a567.jpg" width="166" alt="壁纸图片">
				<span class="mh-mask"></span>
			</a>
			<span class="mh-tit">
				<span class="mh-mask-tit"></span>
				<span class="mh-text">2048x1536</span>
				<span class="mh-text-rt" title="福特GT桌面壁纸下载">福特GT桌面...</span>
			</span>
		</div>
	</li>
	<li>
		<div class="mh-img js-img-wrap">
			<a href="#" class="mh-cover" target="_blank">
				<img src="https://ps.ssl.qhimg.com/dm/196_123_/t0152adb6e9c9a1b687.jpg" width="166" alt="壁纸图片">
				<span class="mh-mask"></span>
			</a>
			<span class="mh-tit">
				<span class="mh-mask-tit"></span>
				<span class="mh-text">1440x900</span>
				<span class="mh-text-rt" title="莫斯科(Moscow)高清壁纸">莫斯科(Mosc...</span>
			</span>
		</div>
	</li>
	<li>
		<div class="mh-img js-img-wrap">
			<a href="#" class="mh-cover" target="_blank">
				<img src="https://ps.ssl.qhimg.com/dm/196_123_/t01ec88086a66e71c05.jpg" width="166" alt="壁纸图片">
				<span class="mh-mask"></span>
			</a>
			<span class="mh-tit">
				<span class="mh-mask-tit"></span>
				<span class="mh-text">1600x900</span>
				<span class="mh-text-rt" title="韩国90后美女模特yurisa宽屏壁纸">韩国90后美...</span>
			</span>
		</div>
	</li>
</ul>

</div>
