<style>
	#mohe-demo .mh-ui-txt,
	#mohe-demo .mh-ui-suffix{
		display: inline-block;
		vertical-align: top;
	}
	#mohe-demo .mh-ui-txt{
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		max-width: 100%;
		padding-right: 5em;/*得参照右侧宽度*/
	}
	#mohe-demo .mh-ui-suffix{
		margin-left: -5em;/*参照本身文字宽度*/
	}
</style>
<div id="mohe-demo" class="g-mohe">
	<a href="#" class="title">
		<h3 class="res-title">
			<span class="mh-ui-txt g-aline">双色球开奖结果双色球开奖结果双色球开奖结果双色球开奖结果双色球开奖结果双色球开奖结果双色球开奖结果双色球开奖结果双色球开奖结果双色球开奖结果双色球开奖结果双色球开奖结果</span><span class="mh-ui-suffix">_360彩票</span>
		</h3>
	</a>
</div>