<style>
	#mohe-demo .mh-ui-list{
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		height: 20px;
		overflow: hidden;
	}
	#mohe-demo .mh-img-list{
		overflow: hidden;
		padding: 10px 0 0 10px;
	}
	#mohe-demo .mh-img-list li{
		width: 33.3%;
		float: left;
		border-right: 10px solid #fff;
		margin-bottom:1px;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	#mohe-demo .mh-img-wrap{
		width: 100%;
		padding-top: 65%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position:center center;
	}
	#mohe-demo .mh-list-name {
		height: 30px;
		line-height: 1.8;
		text-align: center;
	}
</style>
<div id="mohe-demo" class="g-mohe">
	<ul class="mh-img-list gclearfix">
		<li>
			<a href="http://www.youban.com/story-1267.html">
				<div class="mh-img-wrap" data-src="http://p4.qhimg.com/t01ac9cc498cb887ac1.jpg" style="background-image:url(http://p4.qhimg.com/t01ac9cc498cb887ac1.jpg)"></div>
				<div class="mh-list-name g-aline">小猪盖房子</div>
			</a>
		</li>
		<li>
			<a href="http://www.youban.com/story-1708.html" http://www.youban.com/story-1708.html>
				<div class="mh-img-wrap" data-src="http://p5.qhimg.com/t017a0c0f1564f29ab3.jpg" style="background-image:url(http://p5.qhimg.com/t017a0c0f1564f29ab3.jpg)"></div>
				<div class="mh-list-name g-aline">猪八戒吃西瓜</div>
			</a>
		</li>
		<li>
			<a href="http://www.youban.com/story-1158.html">
				<div class="mh-img-wrap" data-src="http://p8.qhimg.com/t01c85788c7d7cbb829.jpg" style="background-image:url(http://p8.qhimg.com/t01c85788c7d7cbb829.jpg)"></div>
				<div class="mh-list-name g-aline">白雪公主</div>
			</a>
		</li>
		<li>
			<a href="http://www.youban.com/story-1070.html">
				<div class="mh-img-wrap" data-src="http://p7.qhimg.com/t011cd558d5471384ec.jpg" style="background-image:url(http://p7.qhimg.com/t011cd558d5471384ec.jpg)"></div>
				<div class="mh-list-name g-aline">小蝌蚪找妈妈</div>
			</a>
		</li>
		<li>
			<a href="http://www.youban.com/story-1066.html">
				<div class="mh-img-wrap" data-src="http://p0.qhimg.com/t0192b7ea10cf20345c.jpg" style="background-image:url(http://p0.qhimg.com/t0192b7ea10cf20345c.jpg)"></div>
				<div class="mh-list-name g-aline">乌鸦喝水</div>
			</a>
		</li>
		<li>
			<a href="http://www.youban.com/story-1128.html">
				<div class="mh-img-wrap" data-src="http://p1.qhimg.com/t010478168285ef7567.jpg" style="background-image:url(http://p1.qhimg.com/t010478168285ef7567.jpg)"></div>
				<div class="mh-list-name g-aline">海的女儿</div>
			</a>
		</li>
	</ul>
</div>
