<style>
	#mohe-demo{
		border: 1px solid #eaeaea;
		padding: 0 10px;
	}
	#mohe-demo .mh-ui-list li~li{
		border-top: 1px solid #eaeaea;
	}
	#mohe-demo .mh-ui-list .mh-ui-item{
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		padding: 5px 0;
		color: #999;
		font-size: 12px;
	}
	#mohe-demo .mh-ui-list .mh-ui-item:after{
		display: inline-block;
		width: 7px;
		height: 7px;
		margin-left: 5px;
		border-top: 2px solid #ccc;
		border-right: 2px solid #ccc;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		content: '';
	}
	#mohe-demo .mh-ui-list .mh-ui-topnum,
	#mohe-demo .mh-ui-list .mh-ui-num{
		display: block;
		width: 15px;
		height: 15px;
		margin-right: 10px;
		line-height: 15px;
		text-align: center;
		color: #fff;
	}
	#mohe-demo .mh-ui-list .mh-ui-topnum{
		background-color: #5cb642;
	}
	#mohe-demo .mh-ui-list .mh-ui-num{
		background-color: #bababa;
	}
	#mohe-demo .mh-ui-list .mh-ui-c{
		-webkit-box-flex:1;
		-webkit-flex:1;
		flex:1;
		width: 1px;
	}
	#mohe-demo .mh-ui-list .mh-ui-c h4{
		font-size: 14px;
		font-weight: normal;
		color: #222;
	}
</style>
<div id="mohe-demo" class="g-mohe">
	<ul class="mh-ui-list">
		<li>
			<a href="#" class="mh-ui-item">
				<span class="mh-ui-topnum">1</span>
				<div class="mh-ui-c">
					<h4 class="g-aline">霜殒芦花泪湿衣,白头无复倚柴扉</h4>
					<p class="g-aline">与恭（宋）-《思母》</p>
				</div>
				<span class="mh-ui-r">古诗</span>
			</a>
		</li>
		<li>
			<a href="#" class="mh-ui-item">
				<span class="mh-ui-num">2</span>
				<div class="mh-ui-c">
					<h4 class="g-aline">霜殒芦花泪湿衣,白头无复倚柴扉</h4>
					<p class="g-aline">与恭（宋）-《思母》</p>
				</div>
				<span class="mh-ui-r">现代</span>
			</a>
		</li>
		<li>
			<a href="#" class="mh-ui-item">
				<span class="mh-ui-num">3</span>
				<div class="mh-ui-c">
					<h4 class="g-aline">霜殒芦花泪湿衣,白头无复倚柴扉</h4>
					<p class="g-aline">与恭（宋）-《思母》</p>
				</div>
				<span class="mh-ui-r">古诗</span>
			</a>
		</li>
	</ul>
</div>