<style>
	#mohe-demo .mh-ui-list li~li{
		border-top: 1px solid #eaeaea;
	}
	#mohe-demo .mh-ui-list .mh-ui-item{
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		padding: 10px;
		color: #222;
	}
	#mohe-demo .mh-ui-list .mh-ui-item:after{
		display: inline-block;
		width: 7px;
		height: 7px;
		margin-left: 5px;
		border-top: 2px solid #ccc;
		border-right: 2px solid #ccc;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		content: '';
	}
	#mohe-demo .mh-ui-list .mh-ui-img{
		width: 120px;
		height: 60px;
		margin-right: 10px;
		background-size: cover;
	}
	#mohe-demo .mh-ui-center{
		-webkit-box-flex:1;
		-webkit-flex:1;
		flex:1;
	}
	#mohe-demo .mh-ui-grey{
		color: #999;
	}
	#mohe-demo .mh-ui-orange{
		color: #ff8c0a;
	}
</style>
<div id="mohe-demo" class="g-mohe">
	<ul class="mh-ui-list">
		<li>
			<a href="#" class="mh-ui-item">
				<div class="mh-ui-img" style="background:url(http://p9.qhimg.com/t012bf05ae6b69707d4.jpg)"></div>
				<div class="mh-ui-center">
					<p class="g-aline">城隍庙旅游区</p>
					<p class="g-aline mh-ui-grey">738条评论</p>
				</div>
				<div class="mh-ui-right mh-ui-orange">￥50元</div>
			</a>
		</li>
		<li>
			<a href="#" class="mh-ui-item">
				<div class="mh-ui-img" style="background:url(http://p2.qhimg.com/t01e7df69038c85de2b.jpg)"></div>
				<div class="mh-ui-center">
					<p class="g-aline">城隍庙旅游区</p>
					<p class="g-aline mh-ui-grey">738条评论</p>
				</div>
				<div class="mh-ui-right mh-ui-orange">￥50元</div>
			</a>
		</li>
		<li>
			<a href="#" class="mh-ui-item">
				<div class="mh-ui-img" style="background:url(http://p5.qhimg.com/t01d2d69ca64c4f69bd.jpg)"></div>
				<div class="mh-ui-center">
					<p class="g-aline">城隍庙旅游区</p>
					<p class="g-aline mh-ui-grey">738条评论</p>
				</div>
				<div class="mh-ui-right mh-ui-orange">￥50元</div>
			</a>
		</li>
	</ul>
</div>
