<style>
	#mohe-demo{
		border: 1px solid #eaeaea;
		padding: 0 10px;
	}
	#mohe-demo .mh-ui-list li~li{
		border-top: 1px solid #eaeaea;
	}
	#mohe-demo .mh-ui-list .mh-ui-item{
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		padding: 10px;
		color: #222;
	}
	#mohe-demo .mh-ui-list .mh-ui-topnum,
	#mohe-demo .mh-ui-list .mh-ui-num{
		display: block;
		width: 16px;
		height: 16px;
		margin-right: 10px;
		line-height: 16px;
		text-align: center;
		color: #fff;
	}
	#mohe-demo .mh-ui-list .mh-ui-topnum{
		background: #ff8c0a;
	}
	#mohe-demo .mh-ui-list .mh-ui-num{
		background: #bababa;
	}
	#mohe-demo .mh-ui-list .mh-ui-l{
		width: 80px;
	}
	#mohe-demo .mh-ui-list .mh-ui-img{
		border: 1px solid #eaeaea;
		vertical-align: middle;
	}
	#mohe-demo .mh-ui-list .mh-ui-r{
		-webkit-box-flex:1;
		-webkit-flex:1;
		flex:1;
		text-align: right;
	}
	#mohe-demo .mh-ui-list .mh-ui-r span{
		color: #ff8c0a;
	}
</style>
<div id="mohe-demo" class="g-mohe">
	<ul class="mh-ui-list">
		<li>
			<a href="#" class="mh-ui-item">
				<i class="mh-ui-topnum">1</i>
				<div class="mh-ui-l g-aline">百达翡丽</div>
				<div class="mh-ui-c">
					<img src="http://p5.qhimg.com/t0155e9e6e1674fd3dc.jpg" class="mh-ui-img" width="55" height="25" alt="手表图片"/>
				</div>
				<div class="mh-ui-r">
					￥<span>10万</span>~<span>1760</span>万
				</div>
			</a>
		</li>
		<li>
			<a href="#" class="mh-ui-item">
				<i class="mh-ui-topnum">2</i>
				<div class="mh-ui-l g-aline">朗格</div>
				<div class="mh-ui-c">
					<img src="http://p8.qhimg.com/t01cc5b57ba1219691d.jpg" class="mh-ui-img" width="55" height="25" alt="手表图片"/>
				</div>
				<div class="mh-ui-r">
					￥<span>14万</span>~<span>395</span>万
				</div>
			</a>
		</li>
		<li>
			<a href="#" class="mh-ui-item">
				<i class="mh-ui-topnum">3</i>
				<div class="mh-ui-l g-aline">劳力士</div>
				<div class="mh-ui-c">
					<img src="http://p5.qhimg.com/t0144d872de67644d26.jpg" class="mh-ui-img" width="55" height="25" alt="手表图片"/>
				</div>
				<div class="mh-ui-r">
					￥<span>8万</span>~<span>1007</span>万
				</div>
			</a>
		</li>
		<li>
			<a href="#" class="mh-ui-item">
				<i class="mh-ui-num">4</i>
				<div class="mh-ui-l g-aline">江诗丹顿</div>
				<div class="mh-ui-c">
					<img src="http://p6.qhimg.com/t01c2f7800c314ebc3e.jpg" class="mh-ui-img" width="55" height="25" alt="手表图片"/>
				</div>
				<div class="mh-ui-r">
					￥<span>1万</span>~<span>273</span>万
				</div>
			</a>
		</li>
		<li>
			<a href="#" class="mh-ui-item">
				<i class="mh-ui-num">5</i>
				<div class="mh-ui-l g-aline">欧米伽</div>
				<div class="mh-ui-c">
					<img src="http://p3.qhimg.com/t01ef8eb7bacb341cc2.jpg" class="mh-ui-img" width="55" height="25" alt="手表图片"/>
				</div>
				<div class="mh-ui-r">
					￥<span>2500</span>~<span>5</span>万
				</div>
			</a>
		</li>
	</ul>
</div>