<style>
	#mohe-demo .mh-ui-list .mh-ui-li{
		border-bottom: 1px solid #eaeaea;
	}
	#mohe-demo .mh-ui-list .mh-ui-box{
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
	}
	#mohe-demo .mh-ui-list .mh-ui-flex{
		-webkit-box-flex:1;
		-webkit-flex:1;
		flex:1;
	}
	#mohe-demo .mh-ui-list .mh-ui-num{
		display: block;
		width: 16px;
		height: 16px;
		background-color: #5cb642;
		margin-right: 10px;
		line-height: 16px;
		text-align: center;
		color: #fff;
	}
	#mohe-demo .mh-ui-list .mh-ui-item .mh-ui-num{
		margin-top: 2px;
	}
	#mohe-demo .mh-ui-list .mh-ui-top{
		padding: 10px 0;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	#mohe-demo .mh-ui-list .mh-ui-item{
		display: none;
		padding: 10px 0;
		color: #222;
	}
	#mohe-demo .mh-ui-list .mh-ui-unfold .mh-ui-item{
		display: block;
	}
	#mohe-demo .mh-ui-list .mh-ui-unfold .mh-ui-top{
		display: none;
	}
</style>
<div id="mohe-demo" class="g-mohe">
	<ul class="mh-ui-list">
		<li class="mh-ui-li mh-ui-unfold">
			<div class="mh-ui-box mh-ui-top">
				<i class="mh-ui-num">1</i>
				<h4 class="mh-ui-flex">明月几时有</h4>
			</div>
			<a href="#" class="mh-ui-item">
				<div class="mh-ui-box">
					<i class="mh-ui-num">1</i>
					<div class="mh-ui-flex">
						<h4>明月几时有</h4>
						<p>
						丙辰中秋，欢饮达旦，<br>
						大醉，作此篇，<br>
						兼怀子由。明月几时有？<br>
						把酒问青天。不知天上宫阙，<br>
						今夕是何年。我欲乘风归去，<br>
						又恐琼楼玉宇，高处不胜寒。<br>
						起舞弄清影，何似在人间？<br>
						转朱阁，低绮户，<br>
						照无眠。不应有恨，<br>
						何事长向别时圆？人有悲欢离合，<br>
						月有阴晴圆缺，此事古难全。<br>
						但愿人长久，千里共婵娟。
						</p>
					</div>
				</div>
			</a>
		</li>
		<li class="mh-ui-li">
			<div class="mh-ui-box mh-ui-top">
				<i class="mh-ui-num">2</i>
				<h4 class="mh-ui-flex">明月几时有</h4>
			</div>
			<a href="#" class="mh-ui-item">
				<div class="mh-ui-box">
					<i class="mh-ui-num">2</i>
					<div class="mh-ui-flex">
						<h4>明月几时有</h4>
						<p>
						丙辰中秋，欢饮达旦，<br>
						大醉，作此篇，<br>
						兼怀子由。明月几时有？<br>
						把酒问青天。不知天上宫阙，<br>
						今夕是何年。我欲乘风归去，<br>
						又恐琼楼玉宇，高处不胜寒。<br>
						起舞弄清影，何似在人间？<br>
						转朱阁，低绮户，<br>
						照无眠。不应有恨，<br>
						何事长向别时圆？人有悲欢离合，<br>
						月有阴晴圆缺，此事古难全。<br>
						但愿人长久，千里共婵娟。
						</p>
					</div>
				</div>
			</a>
		</li>
		<li class="mh-ui-li">
			<div class="mh-ui-box mh-ui-top">
				<i class="mh-ui-num">3</i>
				<h4 class="mh-ui-flex">明月几时有</h4>
			</div>
			<a href="#" class="mh-ui-item">
				<div class="mh-ui-box">
					<i class="mh-ui-num">3</i>
					<div class="mh-ui-flex">
						<h4>明月几时有</h4>
						<p>
						丙辰中秋，欢饮达旦，<br>
						大醉，作此篇，<br>
						兼怀子由。明月几时有？<br>
						把酒问青天。不知天上宫阙，<br>
						今夕是何年。我欲乘风归去，<br>
						又恐琼楼玉宇，高处不胜寒。<br>
						起舞弄清影，何似在人间？<br>
						转朱阁，低绮户，<br>
						照无眠。不应有恨，<br>
						何事长向别时圆？人有悲欢离合，<br>
						月有阴晴圆缺，此事古难全。<br>
						但愿人长久，千里共婵娟。
						</p>
					</div>
				</div>
			</a>
		</li>
		<li class="mh-ui-li">
			<div class="mh-ui-box mh-ui-top">
				<i class="mh-ui-num">4</i>
				<h4 class="mh-ui-flex">明月几时有</h4>
			</div>
			<a href="#" class="mh-ui-item">
				<div class="mh-ui-box">
					<i class="mh-ui-num">4</i>
					<div class="mh-ui-flex">
						<h4>明月几时有</h4>
						<p>
						丙辰中秋，欢饮达旦，<br>
						大醉，作此篇，<br>
						兼怀子由。明月几时有？<br>
						把酒问青天。不知天上宫阙，<br>
						今夕是何年。我欲乘风归去，<br>
						又恐琼楼玉宇，高处不胜寒。<br>
						起舞弄清影，何似在人间？<br>
						转朱阁，低绮户，<br>
						照无眠。不应有恨，<br>
						何事长向别时圆？人有悲欢离合，<br>
						月有阴晴圆缺，此事古难全。<br>
						但愿人长久，千里共婵娟。
						</p>
					</div>
				</div>
			</a>
		</li>
		<li class="mh-ui-li">
			<div class="mh-ui-box mh-ui-top">
				<i class="mh-ui-num">5</i>
				<h4 class="mh-ui-flex">明月几时有</h4>
			</div>
			<a href="#" class="mh-ui-item">
				<div class="mh-ui-box">
					<i class="mh-ui-num">5</i>
					<div class="mh-ui-flex">
						<h4>明月几时有</h4>
						<p>
						丙辰中秋，欢饮达旦，<br>
						大醉，作此篇，<br>
						兼怀子由。明月几时有？<br>
						把酒问青天。不知天上宫阙，<br>
						今夕是何年。我欲乘风归去，<br>
						又恐琼楼玉宇，高处不胜寒。<br>
						起舞弄清影，何似在人间？<br>
						转朱阁，低绮户，<br>
						照无眠。不应有恨，<br>
						何事长向别时圆？人有悲欢离合，<br>
						月有阴晴圆缺，此事古难全。<br>
						但愿人长久，千里共婵娟。
						</p>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>
<script>
	_loader.use("zepto",function(){
		var root = $("#mohe-demo"),
			uili = $(".mh-ui-li",root);
		uili.on("click",function(){
			$(this).addClass("mh-ui-unfold").siblings().removeClass("mh-ui-unfold");
		});
	});
</script>