<style>
	#mohe-demo .mh-ui-nav-page{
		height: 40px;
		line-height: 40px;
		border-top: 1px solid #eaeaea;
		background-color: #fafafa;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
	}
	#mohe-demo .mh-ui-op-pre,
	#mohe-demo .mh-ui-op-next {
		display: block;
		text-align: center;
		overflow: hidden;
		-webkit-box-flex: 2.0;
		width: 28%;
		-webkit-flex: 2.0;
		flex: 2.0;
		height: 40px;
	}

	#mohe-demo .mh-ui-op-pre:after,
	#mohe-demo .mh-ui-op-next:after {
		content: '';
		display: inline-block;
		width: 7px;
		height: 7px;
		border-bottom: 2px solid #666;
		border-right: 2px solid #666;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		margin-left: 5px;
		margin-top: 15px;
	}
	#mohe-demo .disabled:after {
		border-bottom: 2px solid #ccc;
		border-right: 2px solid #ccc;
			}
	#mohe-demo .mh-ui-op-next:after{
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		margin-left: -2px;
	}
	#mohe-demo .mh-ui-op-pre{
		border-right: 1px solid #ddd;
	}
	#mohe-demo .mh-ui-op-next {
		border-left: 1px solid #ddd;
	}
	#mohe-demo .mh-ui-page {
		display: block;
		-webkit-box-flex: 3.0;
		width: 44%;
		-webkit-flex: 3.0;
		flex: 3.0;
		text-align: center;
		font-size: 13px;
		color: #b4b4b4;
	}
	#mohe-demo .mh-ui-page-cur{
		color: #333;
	}
</style>
<div id="mohe-demo" class="g-mohe">
	<nav class="mh-ui-nav-page">
		<a href="#prev" rev="prev" class="mh-ui-op-pre js-mh-ui-op-page disabled"></a>
		<span class="mh-ui-page">
			<span class="mh-ui-page-cur js-mh-ui-page-cur" data-max="10">1</span>/<span class="mh-ui-page-total">10</span>
		</span>
		<a href="#next" rev="next" class="mh-ui-op-next js-mh-ui-op-page"></a>
	</nav>
</div>
<script type="text/javascript">
	_loader.add('zepto','http://s0.qhimg.com/!26d721ef/zepto_1.1.2.js');
	_loader.use('zepto',function(){
		var scope = $('#mohe-demo');

		/* 分页 */
		function turnToPage(num){
			var $curpage = $(".js-mh-ui-page-cur",scope),
				$btns = $(".js-mh-ui-op-page",scope),
				$prev = $btns.filter("[rev='prev']"),
				$next = $btns.filter("[rev='next']"),
				max = parseInt($curpage.data("max"),10);
			if(num === 1){
				$next.removeClass("disabled");
				$prev.addClass("disabled");
			}else if(num === max){
				$prev.removeClass("disabled");
				$next.addClass("disabled");
			}else{
				$prev.removeClass("disabled");
				$next.removeClass("disabled");
			}
			$curpage.text(num);
		}
		scope.on("click",".js-mh-ui-op-page",function(){
			var $self = $(this),
				dir = $self.attr("rev"),
				$curpage = $(".js-mh-ui-page-cur",scope),
				curpage = parseInt($curpage.text(),10),
				$screens = $(".js-mh-ui-wrap",scope);
			if(!$self.hasClass("disabled")){
				$screens.filter("[data-page='"+curpage+"']").hide();
				curpage = curpage + (dir == "next"?1:-1);
				$screens.filter("[data-page='"+curpage+"']").show();
				turnToPage(curpage);
			}
		});

	})
</script>