<style>
	.mohe-demo .mh-title-more {
		position: relative;
		*zoom: 1;
		padding-right: 40px;
	}
	.mohe-demo .mh-title-more .g-c-lightblue {
		position: absolute;
		bottom: 0;
		right: 0;
		font-weight: 300;
		font-size: 12px;
		color: #77c;
	}
	.mohe-demo .mh-title-more .g-c-gray{
		font-weight: 300;
		margin-left: 5px;
	}
</style>
<div class="mohe-demo">
	<h3 class="title mh-title-more">
		<a href="#" target="_blank"><em>周鸿祎</em>的相关视频</a>
		<span class="g-c-gray" >约3,720个</span>
		<a class="g-c-lightblue" target="_blank" href="#">更多&raquo;</a>
	</h3>
</div>