
<!-- code-start -->
<style>
	.mohe-demo .mh-flex{
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
	}
	.mohe-demo .mh-item{
		-webkit-box-flex:1;
		-webkit-flex:1;
		flex:1;
	}
	.mohe-demo .mh-tabs{
		border-bottom: 1px solid #eaeaea;
		background-color: #f7f7f7;
		line-height: 40px;
		border-top: 1px solid #eaeaea;
	}
	.mohe-demo .mh-tabs .mh-items{
		display: block;
		text-align: center;
		color: #333;
	}
	.mohe-demo .mh-tabs .mh-items.active{
		background-color: #fff;
		margin: -1px 0;
		border-top: 2px solid #00be3c;
		color: #00be3c;
	}
	.mohe-demo .mh-tabs .mh-items~.mh-items{
		border-left: 1px solid #eaeaea;
	}
	

	/*list*/
	.mohe-demo .mh-list{
		min-height: 50px;
		line-height: 50px;
		text-align: center;
	}
	.mohe-demo .mh-list li {
		vertical-align: middle;
		padding:12px 0;
		border-bottom: 1px solid #eaeaea;
		line-height: 20px;
	}
	.mohe-demo .mh-list-item-default li{
		height: 20px;
	}
	.mohe-demo .mh-score-left{
		text-align: right;
		width: 50px;
	}
	.mohe-demo .mh-score-right {
		text-align: left;
		width: 50px;
	}

	.mohe-demo .mh-status {
		text-align: center;
		width: 90px;
	}

	.mohe-demo .mh-status span {
		vertical-align: middle;
		display: inline-block;
		padding: 2px;
		font-size: 14px;
		line-height: 14px;
		color: #fff;
		border-radius: 2px;
	}

	.mohe-demo .mh-status span.mh-status-zhibo {
		background-color: #3eaf1e;
		font-size: 12px;
	}
	.mohe-demo .mh-status span.mh-status-zhibo-f {
		background-color: #3eaf1e;
		padding: 3px 4px;
		margin-top: 31px;
	}

	.mohe-demo .mh-status span.mh-status-over{
		background-color: #d0d0d0;
		font-size: 12px;
	}
	.mohe-demo .mh-status span.mh-status-over-f{
		background-color: #d0d0d0;
		padding: 3px 4px;
		margin-top: 31px;
	}

	.mohe-demo .mh-status span.mh-status-notstart{
		background-color: none;
		color: #222;
		font-size: 12px;
	}
	.mohe-demo .mh-status span.mh-status-notstart-f{
		background-color: #d0d0d0;
		padding: 3px 4px;
	}


	.mohe-demo .mh-player {
		text-align: center;
		width: 33%;
		font-size: 14px;
	}

	.mohe-demo .mh-score-first{
		font-size: 22px;
		color: #333;
		line-height: 1.8;
		margin-top: 22px;
		display: inline-block;
	}

	.mohe-demo span.mh-score{
		font-size: 18px;
	}

	.mohe-demo .mh-notstart {
		color: #3eaf1e;
	}

	.mohe-demo .mh-hide-item {
		display: none;
	}

	.mohe-demo .mh-more {
		height: 44px;
		line-height: 44px;
		border-top: none;
		background-color: #fff;
		color: #666;
		border-bottom: 1px solid #eaeaea;
	}
	.mohe-demo .mh-f16{
		font-size: 16px
	}
	.mohe-demo .mh-list-item-link{
		color: #222;
	}
</style>
<div class="mohe-demo">
	<ul class="mh-tabs mh-flex js-mh-tabs" data-md='{"b":"tab"}'>
		<li class="mh-items mh-item" data-md='{"p":"data_tab"}'>10-20 周二</li>
		<li class="mh-items mh-item active" data-md='{"p":"data_tab"}'>10-21 周三</li>
		<li class="mh-items mh-item" data-md='{"p":"data_tab"}'>10-22 周四</li>
	</ul>
	<div class="js-mh-list-nba mh-list" style="display: none;" data-md='{"b":"contab1"}'>
		<a href="#" data-md='{"p":"item1"}' class="mh-list-item-link">
			<ul class="mh-flex  ">
				<li class="mh-player mh-item">
					<div><img width="55" height="55" alt="logo" src="http://p6.qhimg.com/t0190ed8c80f7525b15.png">
					</div><span class="mh-f16">公牛</span>
				</li>
				<li class="mh-score-left"><span class="mh-score-first">86</span>
				</li>
				<li class="mh-status"><span class="mh-status-over-f">已结束</span>
				</li>
				<li class="mh-score-right"><span class="mh-score-first">94</span>
				</li>
				<li class="mh-player mh-item">
					<div><img width="55" height="55" alt="logo" src="http://p8.qhimg.com/t011105782c37d4f1c8.png">
					</div><span class="mh-f16">黄蜂</span>
				</li>
			</ul>
		</a>
		<a href="#" data-md='{"p":"item2"}' class="mh-list-item-link">
			<ul class="mh-flex mh-list-item-default ">
				<li class="mh-player mh-item"><span>小牛</span>
				</li>
				<li class="mh-score-left"><span class="mh-score">97</span>
				</li>
				<li class="mh-status"><span class="mh-status-over">已结束</span>
				</li>
				<li class="mh-score-right"><span class="mh-score">103</span>
				</li>
				<li class="mh-player mh-item"><span>骑士</span>
				</li>
			</ul>
		</a>
		<a href="#" data-md='{"p":"item3"}' class="mh-list-item-link">
			<ul class="mh-flex mh-list-item-default ">
				<li class="mh-player mh-item"><span>篮网</span>
				</li>
				<li class="mh-score-left"><span class="mh-score">105</span>
				</li>
				<li class="mh-status"><span class="mh-status-over">已结束</span>
				</li>
				<li class="mh-score-right"><span class="mh-score">111</span>
				</li>
				<li class="mh-player mh-item"><span>凯尔特人</span>
				</li>
			</ul>
		</a>
		<a href="#" data-md='{"p":"item4"}' class="mh-list-item-link">
			<ul class="mh-flex mh-list-item-default ">
				<li class="mh-player mh-item"><span>鹈鹕</span>
				</li>
				<li class="mh-score-left"><span class="mh-score">100</span>
				</li>
				<li class="mh-status"><span class="mh-status-over">已结束</span>
				</li>
				<li class="mh-score-right"><span class="mh-score">120</span>
				</li>
				<li class="mh-player mh-item"><span>火箭</span>
				</li>
			</ul>
		</a>
		<a href="#" data-md='{"p":"item5"}' class="mh-list-item-link">
			<ul class="mh-flex mh-list-item-default js-hide-item mh-hide-item">
				<li class="mh-player mh-item"><span>开拓者</span>
				</li>
				<li class="mh-score-left"><span class="mh-score">102</span>
				</li>
				<li class="mh-status"><span class="mh-status-over">已结束</span>
				</li>
				<li class="mh-score-right"><span class="mh-score">104</span>
				</li>
				<li class="mh-player mh-item"><span>湖人</span>
				</li>
			</ul>
		</a>
		<a href="#more" data-md='{"p":"more"}' class="mohe-fold mohe-more js-mh-more mh-more" title="查看全部比赛" opentitle="收起"></a>
	</div>
	<div class="js-mh-list-nba mh-list" data-md='{"b":"contab2"}'>
		<a href="#" data-md='{"p":"item1"}' class="mh-list-item-link">
			<ul class="mh-flex  ">
				<li class="mh-player mh-item">
					<div><img width="55" height="55" alt="logo" src="http://p3.qhimg.com/t01a540cb8f7dae8bd7.png">
					</div><span class="mh-f16">步行者</span>
				</li>
				<li class="mh-score-left"><span class="mh-score-first">94</span>
				</li>
				<li class="mh-status"><span class="mh-status-zhibo-f">直播中</span>
				</li>
				<li class="mh-score-right"><span class="mh-score-first">103</span>
				</li>
				<li class="mh-player mh-item">
					<div><img width="55" height="55" alt="logo" src="http://p6.qhimg.com/t0190ed8c80f7525b15.png">
					</div><span class="mh-f16">公牛</span>
				</li>
			</ul>
		</a>
		<a href="#" class="mh-list-item-link">
			<ul class="mh-flex mh-list-item-default ">
				<li class="mh-player mh-item"><span>森林狼</span>
				</li>
				<li class="mh-score-left"><span class="mh-score">88</span>
				</li>
				<li class="mh-status"><span class="mh-status-zhibo">直播中</span>
				</li>
				<li class="mh-score-right"><span class="mh-score">106</span>
				</li>
				<li class="mh-player mh-item"><span>雄鹿</span>
				</li>
			</ul>
		</a>
		<a href="#" data-md='{"p":"item3"}' class="mh-list-item-link">
			<ul class="mh-flex mh-list-item-default ">
				<li class="mh-player mh-item"><span>太阳</span>
				</li>
				<li class="mh-score-left"><span class="mh-score">104</span>
				</li>
				<li class="mh-status"><span class="mh-status-over">已结束</span>
				</li>
				<li class="mh-score-right"><span class="mh-score">84</span>
				</li>
				<li class="mh-player mh-item"><span>马刺</span>
				</li>
			</ul>
		</a>
		<a href="#" data-md='{"p":"item4"}' class="mh-list-item-link">
			<ul class="mh-flex mh-list-item-default ">
				<li class="mh-player mh-item"><span>雷霆</span>
				</li>
				<li class="mh-score-left"><span class="mh-score">113</span>
				</li>
				<li class="mh-status"><span class="mh-status-over">已结束</span>
				</li>
				<li class="mh-score-right"><span class="mh-score">102</span>
				</li>
				<li class="mh-player mh-item"><span>爵士</span>
				</li>
			</ul>
		</a>
		<a href="#" data-md='{"p":"item5"}' class="mh-list-item-link">
			<ul class="mh-flex mh-list-item-default js-hide-item mh-hide-item">
				<li class="mh-player mh-item"><span>勇士</span>
				</li>
				<li class="mh-score-left"><span class="mh-score">95</span>
				</li>
				<li class="mh-status"><span class="mh-status-over">已结束</span>
				</li>
				<li class="mh-score-right"><span class="mh-score">130</span>
				</li>
				<li class="mh-player mh-item"><span>快船</span>
				</li>
			</ul>
		</a>
		<a href="#more" data-md='{"p":"more"}' class="mohe-fold mohe-more js-mh-more mh-more" title="查看全部比赛" opentitle="收起"></a>
	</div>
	<div class="js-mh-list-nba mh-list" style="display: none;" data-md='{"b":"contab3"}'>
		<ul class="mh-flex  ">
			<li class="mh-player mh-item">
				<div><img width="55" height="55" alt="logo" src="http://p0.qhimg.com/t010415e17c8ec18459.png">
				</div><span class="mh-f16">鹈鹕</span>
			</li>
			<li class="mh-score-left"><span class="mh-notstart"></span>
			</li>
			<li class="mh-status"><i class="mh-score-first">07:00</i>
				<br><span class="mh-status-notstart-f">未开始</span>
			</li>
			<li class="mh-score-right"><span class="mh-notstart"></span>
			</li>
			<li class="mh-player mh-item">
				<div><img width="55" height="55" alt="logo" src="http://p6.qhimg.com/t015a91103bd3713d72.png">
				</div><span class="mh-f16">魔术</span>
			</li>
		</ul>
		<ul class="mh-flex mh-list-item-default ">
			<li class="mh-player mh-item"><span>黄蜂</span>
			</li>
			<li class="mh-score-left"><span class="mh-notstart"></span>
			</li>
			<li class="mh-status"><span class="mh-status-notstart">07:30</span>
			</li>
			<li class="mh-score-right"><span class="mh-notstart"></span>
			</li>
			<li class="mh-player mh-item"><span>活塞</span>
			</li>
		</ul>
		<ul class="mh-flex mh-list-item-default ">
			<li class="mh-player mh-item"><span>灰熊</span>
			</li>
			<li class="mh-score-left"><span class="mh-notstart"></span>
			</li>
			<li class="mh-status"><span class="mh-status-notstart">08:00</span>
			</li>
			<li class="mh-score-right"><span class="mh-notstart"></span>
			</li>
			<li class="mh-player mh-item"><span>老鹰</span>
			</li>
		</ul>
		<ul class="mh-flex mh-list-item-default ">
			<li class="mh-player mh-item"><span>奇才</span>
			</li>
			<li class="mh-score-left"><span class="mh-notstart"></span>
			</li>
			<li class="mh-status"><span class="mh-status-notstart">08:00</span>
			</li>
			<li class="mh-score-right"><span class="mh-notstart"></span>
			</li>
			<li class="mh-player mh-item"><span>热火</span>
			</li>
		</ul>
		<ul class="mh-flex mh-list-item-default js-hide-item mh-hide-item">
			<li class="mh-player mh-item"><span>太阳</span>
			</li>
			<li class="mh-score-left"><span class="mh-notstart"></span>
			</li>
			<li class="mh-status"><span class="mh-status-notstart">08:30</span>
			</li>
			<li class="mh-score-right"><span class="mh-notstart"></span>
			</li>
			<li class="mh-player mh-item"><span>小牛</span>
			</li>
		</ul>
		<a href="#more" data-md='{"p":"more"}' class="mohe-fold mohe-more js-mh-more mh-more" title="查看全部比赛" opentitle="收起"></a>
	</div>
</div>
<script type="text/javascript">
	_loader.use('zepto',function(){
	    var $scope = $('.mohe-demo'),
			tabsTitle = $('.js-mh-tabs li', $scope),
			tabsCon = $('.js-mh-list-nba', $scope),
			more = $('.js-mh-more',$scope);

		/*tab切换*/
		tabsTitle.click(function(){
			var me = $(this);
			tabsTitle.removeClass('active');
			me.addClass('active');
			tabsCon.hide();
			tabsCon.eq(me.index()).show();
		});

		more.on("click",function(e){

			e.preventDefault();
			
			var self = $(this);
			self.toggleClass("mohe-open");

			if(self.hasClass("mohe-open")){
				self.parent().find(".js-hide-item").removeClass("mh-hide-item");
			} else {
				self.parent().find(".js-hide-item").addClass("mh-hide-item");
			}

		});
	})
</script>
<!-- code-end -->