<style>
	.mohe-demo .mh-ui-ico-star{
		display: inline-block;
		width: 79px;
		height: 12px;
		background: url(http://p1.qhimg.com/t01d3a8d999f76251a8.jpg) no-repeat 0 0;
		vertical-align: -1px;
	}
	.mohe-demo .mh-ui-ico-star .mh-ui-ico-inner{
		display: block;
		height: 12px;
		background: url(http://p0.qhimg.com/t0189f3ce7e2980140b.jpg) no-repeat 0 0;
	}
</style>
<div class="mohe-demo">
	<span class="mh-ui-ico-star">
		<span style="width:66.36px" class="mh-ui-ico-inner"></span>
	</span>
	<span class="mh-ui-label">综合评分</span>
</div>