<style>
	.mohe-demo .mh-ui-stars,
	.mohe-demo .mh-ui-instars{
		display: inline-block;
		width: 72px;
		height: 14px;
		background: url(http://p4.qhimg.com/t016e7b98e2fd5a1c3c.png) repeat-x 0 -17px;
	}
	.mohe-demo .mh-ui-instars{
		background-position: 0 0;
		float: left;
	}
	.mohe-demo .mh-ui-score span{
		vertical-align: middle;
		line-height: 0;
	}
</style>
<div class="mohe-demo">
	<p class="mh-ui-score">
	<span class="mh-ui-stars">
		<i class="mh-ui-instars" style="width:80%"></i>
	</span>
	<span>评分4星</span>
	</p>
</div>