<style>
	.mohe-demo .mh-ui-status span{
		vertical-align: middle;
	}
	.mohe-demo .mh-ui-icon{
		background: url(http://p3.qhimg.com/t01e08a9a8a453c68ee.png) no-repeat;
		display: inline-block;
		height: 20px;
		width: 20px;
		margin-right: 3px;
		line-height: 0
	}
	.mohe-demo .mh-ui-no{ background-position: 0 0px;}
	.mohe-demo .mh-ui-warn{ background-position: 0 -69px;}
	.mohe-demo .mh-ui-yes{ background-position: 0 -138px;}
</style>
<div class="mohe-demo">
	<p class="mh-ui-status">
		<span class="mh-ui-icon mh-ui-yes"></span><span>可以</span>
		<span class="mh-ui-icon mh-ui-no"></span><span>不可以</span>
		<span class="mh-ui-icon mh-ui-warn"></span><span>不建议</span>
	</p>
</div>