<style>
	.mohe-demo .mh-btn{
		display: inline-block;
		*display:inline;
		*zoom:1;
		height: 28px;
		padding: 0px 18px;
		/* 兼容png24IE6下的兼容写法 */
		_height:22px;
		_padding-top:6px;
		font: 12px/16px "SimSun";
		text-decoration: none;
		border-radius: 2px;
	}
	.mohe-demo .mh-btn span{
		display: inline-block;
		*display: inline;
		*zoom:1;
		vertical-align: middle;
		cursor: pointer;
	}
	.mohe-demo .mh-btn-grey{
		color: #333;
		border: 1px solid #ccc;
		background: #fff;
	}
	.mohe-demo .mh-btn-grey:hover{
		border-color: #adadad;
		background: #eee;
	}
	.mohe-demo .mh-btn-grey:active{
		border-color: #adadad;
		background: #eee;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
		box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
	}
	.mohe-demo .mh-btn-green{
		color: #fff;
		border: 1px solid #5bba32;
		background: #65c33d;
	}
	.mohe-demo .mh-btn-green:hover{
		border-color: #329209;
		background: #3eaf0e;
	}
	.mohe-demo .mh-btn-green:active{
		border-color: #329209;
		background: #3eaf0e;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
		box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
	}
	.mohe-demo .mh-btn-orange{
		color: #fff;
		border: 1px solid #f3ab44;
		background: #f6b04c;
	}
	.mohe-demo .mh-btn-orange:hover{
		border-color: #e38800;
		background: #f19e27;
	}
	.mohe-demo .mh-btn-orange:active{
		border-color: #e38800;
		background: #f19e27;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
		box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
	}
	.mohe-demo .mh-btn .mh-ico-s-16{
		display: inline-block;
		width: 16px;
		height: 100%;
		margin-right: 3px;
		background: url(http://p3.qhimg.com/t0195a05486249cd8f0.png) no-repeat center;
		/*以下为IE6设置PNG透明代码*/
		_background:none;
		_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://p3.qhimg.com/t0195a05486249cd8f0.png");
		cursor: pointer;
		vertical-align: middle;
	}
	.mohe-demo .mh-btn .mh-ico-play-16{
		display: inline-block;
		width: 16px;
		height: 100%;
		margin-right: 3px;
		background: url(http://p2.qhimg.com/t0140cf911c961cbbaa.png) no-repeat center;
		/*以下为IE6设置PNG透明代码*/
		_background:none;
		_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://p2.qhimg.com/t0140cf911c961cbbaa.png");
		cursor: pointer;
		vertical-align: middle;
	}
</style>
<div class="mohe-demo">
	<a href="#" target="_blank" class="mh-btn mh-btn-grey"><i class="mh-ico-s-16"></i><span>搜索视频</span></a>
	<a href="#" target="_blank" class="mh-btn mh-btn-green"><i class="mh-ico-play-16"></i><span>立即观看</span></a>
	<a href="#" target="_blank" class="mh-btn mh-btn-orange"><i class="mh-ico-play-16"></i><span>付费观看</span></a>
</div>