<style>
	.mohe-demo .mh-btn{
		height: 24px;
		line-height: 24px;
		border: 1px solid #ccc;
		border-radius: 2px;
		outline: none;
		background: #fff;
		padding: 0 10px;
		font-size: 12px;
		cursor: pointer;
		display: inline-block;
		text-decoration: none;
	}
	.mohe-demo .mh-btn:hover{
		border-color: #aaa;
		background: #eee;
	}
	.mohe-demo .mh-btn:active{
		border-color: #000;
		background: #ccc;
	}
	/*mh-default样式*/
	.mohe-demo .mh-default{
		border-color: #ccc;
		background: #fff;
		color: #333;
	}
	.mohe-demo .mh-default:hover{
		border-color: #adadad;
		background: #eee;
		color: #333;
	}
	.mohe-demo .mh-default:active{
		border-color: #adadad;
		background: #dcdbdb;
		background: -moz-linear-gradient(#dcdbdb,#eee 25%,#eee);
		background: -webkit-gradient(linear,center top,center bottom,from(#dcdbdb),color-stop(.5,#eee),to(#eee))
		background: -webkit-linear-gradient(#dcdbdb,#eee 25%,#eee);
		background: -o-linear-gradient(#dcdbdb,#eee 25%,#eee);
		background: -ms-linear-gradient(#dcdbdb,#eee 25%,#eee);
		background: linear-gradient(#dcdbdb,#eee 25%,#eee);
		color: #333;
	}
	/*mh-success样式*/
	.mohe-demo .mh-success{
		border-color: #5bba32;
		background: #65c33d;
		color: #fff;
	}
	.mohe-demo .mh-success:hover{
		border-color: #329209;
		background: #3eaf0e;
		color: #fff;
	}
	.mohe-demo .mh-success:active{
		border-color: #329209;
		background: #3eaf0e;
		background: -moz-linear-gradient(#39a10d,#3eaf0e 25%,#3eaf0e);
		background: -webkit-gradient(linear,center top,center bottom,from(#39a10d),color-stop(.5,#3eaf0e),to(#3eaf0e))
		background: -webkit-linear-gradient(#39a10d,#3eaf0e 25%,#3eaf0e);
		background: -o-linear-gradient(#39a10d,#3eaf0e 25%,#3eaf0e);
		background: -ms-linear-gradient(#39a10d,#3eaf0e 25%,#3eaf0e);
		background: linear-gradient(#39a10d,#3eaf0e 25%,#3eaf0e);
		color: #fff;
	}
	/*mh-warning样式*/
	.mohe-demo .mh-warning{
		border-color: #f3ab44;
		background: #f6b04c;
		color: #fff;
	}
	.mohe-demo .mh-warning:hover{
		border-color: #e38800;
		background: #f19e27;
		color: #fff;
	}
	.mohe-demo .mh-warning:active{
		border-color: #e38800;
		background: #f19e27;
		background: -moz-linear-gradient(#df9224,#f19e27 25%,#f19e27);
		background: -webkit-gradient(linear,center top,center bottom,from(#df9224),color-stop(.5,#f19e27),to(#f19e27))
		background: -webkit-linear-gradient(#df9224,#f19e27 25%,#f19e27);
		background: -o-linear-gradient(#df9224,#f19e27 25%,#f19e27);
		background: -ms-linear-gradient(#df9224,#f19e27 25%,#f19e27);
		background: linear-gradient(#df9224,#f19e27 25%,#f19e27);
		color: #fff;
	}
</style>
<div class="mohe-demo">
	<button class="mh-btn mh-default">中国</button>&nbsp;&nbsp;
	<button class="mh-btn mh-success">中国</button>&nbsp;&nbsp;
	<button class="mh-btn mh-warning">中国</button>
</div>