<style type="text/css">
	.mohe-demo{
		width: 540px;
		margin-left: 10px;
		margin-top: 50px;
	}
	.mohe-demo .g-tab{
		border-width: 0 0 1px 0;
	}
	.mohe-demo .g-tab li{
		padding: 0 15px;
	}
	.mohe-demo .mh-scroll-wrap{
		position: relative;
		width: 100%;
		height: 300px;
	}
	.mohe-demo .mh-scroll-article{
		padding-left: 15px;
		padding-right: 25px;
		height: 100%;
		overflow: hidden;
		word-wrap: break-word;
		word-break: break-word;
	}
	.mohe-demo .mh-scroll-bar{
		position: absolute;
		top: 0;
		right: 0px;
		height: 100%;
		background: #eaeaea;
	}
	.mohe-demo .mh-scroll-axis{
		width:10px;
		height: 100%;
		background: #eaeaea;
	}
	.mohe-demo .mh-scroll-axis-hover{
		background-color:#eee;
	}
	.mohe-demo .mh-scroll-slider{
		position: absolute;
		top: 0;
		left: 0;
		width: 8px;
		height: 28px;
		background: #fff;
		border: 1px solid #f3f3f3;
	}
</style>
<div class="mohe-demo">
	<div class="g-card g-shadow">
		<ul class="g-tab js-g-tab">
			<li class="g-tab-active" data-index="1">办理要点</li>
			<li data-index="2">办理机构</li>
			<li data-index="3">办理程序</li>
			<li data-index="4">办理时间和时限</li>
			<li data-index="5">收费标准</li>
			<li data-index="6">机构详情</li>
		</ul>
		<div class="mh-scroll-wrap">
			<div class="mh-scroll-article">
				<div class="mh-scroll-article-inner">
					<h4 class="mh-article-title">
						北京居民-办理旅游往来港澳通行证<a href="http://www.baidu.com/link?url=Eej-hceVSamb0OdcF_OxAe_lJYetHoWAzchTJzr3P5dOhvVJNF-ITedKFoEK-iJUO_WME2ij2qNh38WuEpzHqCcJDc8hSiRV9lftbgoYGpS" target="_blank" class="op_macao_permit_article_link OP_LOG_LINK">[ 查看全文]</a>
					</h4>
					<div class="mh-article-anchor">
						<span class="mh-article-anchor-tit mh-anchor-1">
							办理要点
						</span>
					</div>
					<p class="mh-article-ol">
						1、首次申请往来港澳通行证和签注，申请人本人到当地公安分局出入境办证大厅递交申请，不能委托代办。<br/>
						2、提交申请人身份证、户口簿元件及复印件。军人须交验身份证明。<br/>
						3、申请人浅蓝色底正面半身彩照（规格为48mm×33mm，2寸）建议直接在办证大厅现场照相馆拍摄证件照，以免照片格式不符合标准。<br/>
						4、请至少在办证大厅工作下班前1个小时办理，以免流程太长不能完成办理。<br/>
						5、内地居民往来港澳地区申请表，可在下面地址下载：<a href="#">http://eservice.beijing.gov.cn/sj/xzfwzy/zxfw/bgxz/201205/P020120521523331093235.zip</a><br/>
					</p>
					<div class="mh-article-anchor">
						<span class="mh-article-anchor-tit mh-anchor-2">
							办理机构
						</span>
					</div>
					<p class="mh-article-ol">
						【所属地区】：东城分局、西城分局、朝阳分局、海淀分局、崇文分局、宣武分局、丰台分局、通州分局、顺义分局、昌平分局、大兴分局、石景山分局、门头沟分局、房山分局、平谷分局、怀柔分局、密云分局、延庆分局、北京市公安局出入境管理处。<br/>
						【办理地址】：见下板块中的详细地址。<br/>
						【办理电话】：010-84020101。<br/>
					</p>
					<div class="mh-article-anchor">
						<span class="mh-article-anchor-tit mh-anchor-3">
							办理程序
						</span>
					</div>
					<p class="mh-article-ol">
						【签注种类】：<br/>
						【 团队旅游、个人旅游签发3个月一次签注、3个月二次签注、1年一次签注、1年二次签注，每次在香港或者澳门逗留不超过7天。<br/>
						【所需材料】：<br/>
						本人携带北京市居民身份证、户口簿原件及复印件、提交一张填写完整、贴有两寸彩色近期正面免冠光面照片（背景为淡蓝色或白色）的《内地居民往来港澳地区申请表》办理。<br/>
						注意事项：申请人赴港澳团队旅游须参加国家旅游局指定旅行社组织的旅游团，并随旅游团出入港澳地区。<br/>
						申请短期赴港澳个人旅游签注再次申请加急的，如为北京市居民持外地签发的《往来港澳通行证》，需已在市局出入境办理过赴港澳签注。<br/>
					</p>
					<div class="mh-article-anchor">
						<span class="mh-article-anchor-tit mh-anchor-4">
							办理时间和时限
						</span>
					</div>
					<p class="mh-article-ol">
						【办理时间】：星期一至星期六（法定节假日除外）9：00——17：00。<br/>
						【办理时限】：10个工作日（自递交申请后第二个工作日开始计算）。<br/>
						【所需材料】：<br/>
						本人携带北京市居民身份证、户口簿原件及复印件、提交一张填写完整、贴有两寸彩色近期正面免冠光面照片（背景为淡蓝色或白色）的《内地居民往来港澳地区申请表》办理。<br/>
						注意事项：申请人赴港澳团队旅游须参加国家旅游局指定旅行社组织的旅游团，并随旅游团出入港澳地区。<br/>
						申请短期赴港澳个人旅游签注再次申请加急的，如为北京市居民持外地签发的《往来港澳通行证》，需已在市局出入境办理过赴港澳签注。<br/>
					</p>
					<div class="mh-article-anchor">
						<span class="mh-article-anchor-tit mh-anchor-5">
							收费标准
						</span>
					</div>
					<p class="mh-article-ol">
						【收费情况】：港澳通行证每本100元。赴港澳从事旅游、商务、培训、就业签注（一次有效）20元，（二次有效)40元，多次有效（三个月/一年)100元。<br/>
						【收费依据】：依据:京价(收)字[2002]356。<br/>
					</p>
					<div class="mh-article-anchor">
						<span class="mh-article-anchor-tit mh-anchor-6">
							机构详情
						</span>
					</div>
					<p class="mh-article-ol">
						【东城分局金宝街受理点】：<br/>
						地址：东城区行政服务中心二层（东城区金宝街52号）。<br/>
						公车线路：乘坐108路、106路、111路公交车，米市大街下车；乘坐24路公交车，禄米仓下车。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						9：00——12：00 13：30——17：30<br/>
						【西城分局新壁街受理点】：<br/>
						地址：西城公安分局对外办公大厅（西城区新壁街3号）。<br/>
						公车线路：乘坐7路、70路、14路公交车，和平门内下车；乘坐44路、66路、67路、301路、673路、808路、826路、特2路、特4路、特7路公交车，和平门东站下车；乘坐地铁和平门站下车，沿北新华街向北到新壁街向西即到。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						9：00——16：30<br/>
						【朝阳分局】：<br/>
						地址：北京朝阳区投资服务大厅（北京朝阳区霄云路霄云里1号）<br/>
						乘车路线：乘坐421路、405路、416路、运通104路、659路麦子店西街下车。<br/>
						办公时间： 星期一到星期六（法定节假日除外）<br/>
						9：00——12：00 13：30——17：30<br/>
						【海淀分局】：<br/>
						地址：中关村科技园区服务中心三层（海淀区阜成路67号）<br/>
						乘车路线：乘坐505路、746路、967路、733路、977路、公交车，西钓鱼台下车；乘坐运通106路、运通102路公交车，钓鱼台下车。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						8：30——11：30 13：00——17：00<br/>
						【丰台分局】：<br/>
						地址：丰台区丰管路58—2号。<br/>
						乘车路线：乘349路、845路、971路、477路、451路、335路公交车，丰台东大街站下车；乘坐617、459、678路公交车，丰台游泳厂北路站。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						9：00——12：00 13：00——17：00<br/>
						【通州分局】：<br/>
						地址：通州分局焦王庄派出所一楼大厅（通州区陈列馆路475号）。<br/>
						乘车路线：乘坐7路、615路、667路、公交车，焦王庄路口站下车。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						9：00——12：00 13：00——17：00<br/>
						【顺义分局】：<br/>
						地址：顺义分局南门西侧（顺义区顺平西路8号）。<br/>
						乘车路线：乘坐955路、顺义环1路公交车，五里仓下车；乘坐915路公交车，梅沟营下车。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						9：00——12：00 13：30——17：30<br/>
						【昌平分局】：<br/>
						地址：昌平区昌盛园邮局院内（昌平区南环东路与亢山路十字路口东南角处）。<br/>
						乘车路线：乘坐345快、881路、883路公交车，昌平西环南路下车，转乘昌1路公交车昌盛园小学下车；乘坐889路京科苑站下车；乘坐地铁昌平线南邵站下车，转乘昌2路公交车昌盛园小学下车；乘坐493路、小5路公交车，东关南里小区南门下车。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						9：00——16：30<br/>
						【大兴分局】：<br/>
						地址：大兴公安分局户证大厅内（北京大兴区黄村西大街35号）。<br/>
						乘车路线：乘坐410路、610路、631路、631（快）路、957（快）路、456路、968路、937（支）路公交车，大兴区医院站下车。乘地铁4号线黄村西大街B出口，向前50米即到。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						8：30——12：00 13：30——17：00<br/>
						【石景山分局】：<br/>
						地址：石景山公安分局对外办公大厅（石景山古城南里甲1号）。<br/>
						乘车路线：乘坐地铁1号线、337路、958路到石景山古城站下，向西200米到红绿灯，向南约200米路东。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						9：00——12：00 13：30——17：30<br/>
						【门头沟分局】：<br/>
						地址：门头沟公安分局门口（北京门头沟新桥大街45号）。<br/>
						乘车路线：乘坐336路、370路、运通101路、929路、931路、959路、977路新桥大街站下车。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						9：00——12：00 13：30——17：30<br/>
						【房山分局】：<br/>
						地址：房山分局全程办事代理综合服务大厅（北京房山区良乡政通路16号）。<br/>
						乘车路线：乘坐616路、836路、837路、839路汽车良乡北关下车。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						9：00——12：00 13：30——17：30<br/>
						【平谷分局】：<br/>
						地址：平谷区综合服务大厅7层（北京平谷区林荫北街13号）。<br/>
						乘车路线：乘坐918路至区医院站下车向南1000米路西，平谷区内乘坐环城2路国际公寓站下车向北500米路西。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						9：00——12：00 13：30——17：30<br/>
						【怀柔分局】：<br/>
						地址：怀柔区泉河派出所北侧（北京怀柔区湖光小区13号）。<br/>
						乘车路线：916路、861路、862路至湖光小区站。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						8：30——11：30 13：30——17：30<br/>
						【密云县局】：<br/>
						地址：密云县公安局西侧楼（密云县西大桥路12号）。<br/>
						乘车路线：乘坐980路、987路至种子公司站下车往西，6路、7路、8路至密云县公安局下车。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						8：30——11：30 13：30——17：30<br/>
						【延庆县局】：<br/>
						地址：延庆县公安局院西侧（北京延庆县延庆镇湖南路18号）。<br/>
						乘车路线：乘坐环一路至县公安局门口下车。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						8：00——11：30 14：00——17：30<br/>
						【北京市公安局出入境管理总队】：<br/>
						地址：东城区安定门东大街2号<br/>
						乘车路线：乘坐44路、13 路、116路、117路、特2路公交车，北小街豁口下车；乘坐674路、406路公交车，东直门北小街路口北下车。乘坐地铁在雍和宫站下车往东1000米即到。<br/>
						办公时间：星期一至星期六（法定节假日除外）<br/>
						9：00——17：00<br/>
					</p>
				</div>
			</div>
			<div class="mh-scroll-bar">
				<div class="mh-scroll-axis"></div>
				<div class="mh-scroll-slider"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	_loader.use('jquery',function(){
		var context = $(".mohe-demo");
		var heightArticle = $(".mh-scroll-article",context).height(),
			heightSlider = $(".mh-scroll-axis",context).height();

		/**
		 * 函数延时执行处理
		 * @params fn 需要被延迟执行的函数
		 * @params firstDelay 开启第一次演示
		 * @params interval 延迟执行的时间
		 * @method
		 */
		var throttle = function(fn,interval){
			var timer,
				firstTime = true; // 第一次调用是否需要延迟 true不需要|false需要

			return function(){
				var args = arguments,
					me = this;

				if (firstTime) { // 如果是第一次调用，不需要延迟处理
					fn.apply(me,args);
					return firstTime = false;
				}
				if (timer) { // 如果定时器还在，说明前一次延迟执行还没有完成
					return false;
				};
				timer = setTimeout(function(){ // 延迟一段时间执行
					clearTimeout(timer);
					timer = null;
					fn.apply(me,args);
				},interval || 200);
			};
		}
		function percentToPixel(elem,percent){
			return parseInt(($(this).height() - $(elem).height())*percent);
		}
		function Scroll(){
			this.opt = {
				"wrap"   : $(".mh-scroll-wrap",context),
				"bar"    : $(".mh-scroll-bar",context),
				"axis"   : $(".mh-scroll-axis",context),
				"slider" : $(".mh-scroll-slider",context),
				"article": $(".mh-scroll-article",context),
				"articleTitle": $(".mh-article-anchor-tit",context),
				"articleInner": $(".mh-scroll-article-inner",context),
				"tab"    : $(".js-g-tab",context)
			}
			this.init();
		}
		Scroll.prototype.init = function(){
			this.slider();
			this.article();
			this.tab();
		}
		Scroll.prototype.slider = function(){
			var _self = this;
			var wrap = this.opt.wrap,
				bar = this.opt.bar,
				slider = this.opt.slider,
				article = this.opt.article,
				articleInner = this.opt.articleInner,
				articleTitle = this.opt.articleTitle;

			this._articleTitlePosiArr = getArticleTitlePosi(articleTitle);

			slider.on("mousedown",function(ev){
				var wrapTop = wrap.offset().top,
					offsetTop = ev.pageY - slider.offset().top,
					correctHeight = wrap.height() - slider.height();
				$(document)
				.on("mousemove.onebox.slider",function(e){
					e.preventDefault();
					this._position = e.pageY - offsetTop - wrapTop;
					// articleInner.style.userselect = "none";
					_self.sliderTo(this._position);
					_self.articleTo(percentToPixel.call(articleInner,wrap,this._position / correctHeight));
				})
				.on("mouseup.onebox.slider",function(e){
					$(document).off(".onebox.slider");
				})
			});
			bar.on("click",function(ev){
				var wrapTop = wrap.offset().top,
					offsetTop = ev.pageY - slider.offset().top,
					correctHeight = wrap.height() - slider.height();
				this._position = ev.pageY - wrapTop;
				if(this._position < slider.height()){
					this._position = 0;
				}
				if(this._position > correctHeight){
					this._position = correctHeight;
				}
				_self.sliderTo(this._position);
				_self.articleTo(percentToPixel.call(articleInner,wrap,this._position / correctHeight));
			});
			function getArticleTitlePosi(selector){
				var posiArr = [];
				$(selector).each(function(index,item){
					posiArr.push(article.scrollTop() + $(".mh-anchor-"+(index+1),context) && $(".mh-anchor-"+(index+1),context).position().top);
				});
				return posiArr;
			}
		}
		Scroll.prototype.tab = function(){
			var _self = this;
			var tab = this.opt.tab,
				article = this.opt.article,
				bar = this.opt.bar,
				slider = this.opt.slider,
				tabItem = tab.find("li");
			var correctHeight = this.opt.articleInner.height() - this.opt.wrap.height()

			tabItem.on("click",function(e){
				e.preventDefault();
				var index = $(this).data("index");
				this._position = article.scrollTop();

				_self.tabChange(index);
				_self.sliderTo(percentToPixel.call(bar,slider,this._position/correctHeight));
				_self.articleTo(this._position + $(".mh-anchor-"+index,context).position().top);
			})
		}
		Scroll.prototype.article = function(){
			var  _self = this;
			var article = this.opt.article,
				bar = this.opt.bar,
				slider = this.opt.slider,
				wrap = this.opt.wrap,
				correctHeight = this.opt.articleInner.height() - this.opt.wrap.height();

			article.on("mousewheel DOMMouseScroll",throttle(function(ev){
				ev = ev.originalEvent;
				var step = 10,
					wheel;

				this._articleTop = article.scrollTop();

				if(ev.wheelDelta > 0 || ev.detail < 0){
					console.log("向前滚动：")
					wheel = Math.abs(ev.wheelDelta || ev.detail);
					_self.articleTo(this._articleTop - calcCountMouseWheel(wheel) * step);
					_self.sliderTo(articleToSlider.call(bar,this._articleTop/correctHeight));
				}else{
					console.log("向后滚动：");
					wheel = Math.abs(ev.wheelDelta || ev.detail);
					_self.articleTo(this._articleTop + calcCountMouseWheel(wheel) * step);
					_self.sliderTo(articleToSlider.call(bar,this._articleTop/correctHeight));
				}
			},80));
			function articleToSlider(percent){
				return parseInt(($(this).height() - slider.height())*percent);
			}
			function calcCountMouseWheel(wheel){
				var countMouseWheel = 0;

				if(wheel % 120 == 0){
					countMouseWheel = wheel / 120;
				}else{
					countMouseWheel = wheel / 3;
				}

				return countMouseWheel;
			}
		}
		Scroll.prototype.sliderTo = function(position){
			var slider = this.opt.slider,
				correctHeight = this.opt.wrap.height() - slider.outerHeight();

			slider.css("top",position);
			if(slider.position().top < 0){
				slider.css("top",0);
			}
			if(slider.position().top > correctHeight){
				slider.css("top",correctHeight);
			}
		}
		Scroll.prototype.articleTo = function(position){
			var article = this.opt.article,
				articleTitle = this.opt.articleTitle;

			article.scrollTop(position);
			function getIndex(arr,curr){
				if(arr[arr.length-1] <= curr){
					return arr.length;
				}
				for (var i = 1,len = arr.length; i <= len; i++) {
					if(arr[i] >= curr){
						return i;
					}else{
						continue;
					}
				}
			}
			this.tabChange(getIndex(this._articleTitlePosiArr,position + articleTitle.height()/2));
		}
		Scroll.prototype.tabChange = function(index){
			var tab = this.opt.tab,
				tabItem = tab.find("li");
			tabItem.eq(index - 1).addClass("g-tab-active").siblings().removeClass("g-tab-active");
		}
		new Scroll();
	});
</script>