<style>
.mohe-demo .mh-ui-tip-wrap{
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	background-color: #fafafa;
	border-top: 1px solid #eaeaea;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.mohe-demo .mh-ui-tip{
	float: left;
	color: #999;
}
.mohe-demo .mohe-more{
	float: right;
	width: 50%;
	text-align: right;
	border-top: none;
	background: none;
}
</style>
<div class="mohe-demo">
	<div class="mh-ui-tip-wrap gclearfix">
		<span class="mh-ui-tip">中关村在线报价</span>
		<a href="#" class="mohe-link mohe-more">查看更多</a>
	</div>
</div>