<style>
.mohe-demo .mh-ui-flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.mohe-demo .mh-ui-item{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
}
.mohe-demo .mh-ui-img{
	width: 58px;
	height: 58px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 10px;
	border:1px solid #eaeaea;
}
</style>
<div class="mohe-demo">
	<div class="mh-ui-flex">
		<div class="mh-ui-img" style="background-image:url(http://www.zinch.cn/sites/default/files/logos/543_2100353_Harvard_University.jpg)"></div>
		<p class="mh-ui-item">
		当地学校排名：国家综合大学 - 2<br>
		所在地：美国马萨诸塞<br>
		学费：$67844/年<br>
		</p>
	</div>
</div>