<style>
	.mohe-demo .mh-more-name{
		color: #999;
	}
	.mohe-demo .mh-more-link{
		margin: 0 5px;
	}
	.mohe-demo .mh-more-link:first-child{
		margin: 0 5px 0 0;
	}
	.mohe-demo .mh-more-line{
		color: #999;
	}
</style>
<div class="mohe-demo">
	<p>
		<span class="mh-more-name">
			相关疾病:
		</span>
		<a href="" target="_blank" class="mh-more-link">
			心力衰竭
		</a>
		<span class="mh-more-line">-</span>
		<a href="" target="_blank" class="mh-more-link">
			呼吸衰竭
		</a>
		<span class="mh-more-line">-</span>
		<a href="" target="_blank" class="mh-more-link">
			肾衰竭
		</a>
		<span class="mh-more-line">-</span>
		<a href="" target="_blank" class="mh-more-link">
			鼓胀
		</a>
		<span class="mh-more-line">-</span>
		<a href="" target="_blank" class="mh-more-link">
			病毒性肝炎
		</a>
	</p>
	<br>
	<p>
		<a href="" target="_blank" class="mh-more-link">
			公司简介
		</a>
		<span class="mh-more-line">|</span>
		<a href="" target="_blank" class="mh-more-link">
			点评(2)
		</a>
		<span class="mh-more-line">|</span>
		<a href="" target="_blank" class="mh-more-link">
			工资(3)
		</a>
		<span class="mh-more-line">|</span>
		<a href="" target="_blank" class="mh-more-link">
			面试(6)
		</a>
		<span class="mh-more-line">|</span>
		<a href="" target="_blank" class="mh-more-link">
			最新招聘(8)
		</a>
	</p>
</div>