<style>
	.mohe-demo .mh-more-name{
		color: #999;
	}
	.mohe-demo .mh-more-link-tag{
		display: inline-block;
		height: 17px;
		line-height: 18px;
		border: 1px solid #3eaf0e;
		color: #3eaf0e;
		padding: 0 3px;
		margin: 0 3px;
	}
	.mohe-demo .mh-more-link-tag a{
		color: #3eaf0e;
		text-decoration: none;
	}
	.mohe-demo .mh-more-link-tag-bad{
		color: #555;
		border-color: #555;
	}
	.mohe-demo .mh-more-link-tag-bad a{
		color: #555;
	}
</style>
<div class="mohe-demo">
	<p>
		<span>
			优点
		</span>
		<span class="mh-more-link-tag">
			德国品牌
		</span>
		<span class="mh-more-link-tag">
			稳重
		</span>
		<span class="mh-more-link-tag">
			<a href="">发动机好(可点击)</a>
		</span>
	</p>
	<br>
	<p>
		<span>
			缺点
		</span>
		<span class="mh-more-link-tag mh-more-link-tag-bad">
			太费油
		</span>
		<span class="mh-more-link-tag mh-more-link-tag-bad">
			价位太高
		</span>
		<span class="mh-more-link-tag mh-more-link-tag-bad">
			<a href="">其它(可点击)</a>
		</span>
	</p>
</div>