<style>
	.mohe-demo .mh-more-name{
		color: #999;
	}
	.mohe-demo .mh-more-rec-link{
		display: inline-block;
		height: 17px;
		line-height: 18px;
		border: 1px solid #e5e5e5;
		background: #f5f5f5;
		padding: 0 3px;
		margin: 0 3px;
	}
	.mohe-demo .mh-more-rec-link a{
		text-decoration: none;
	}
</style>
<div class="mohe-demo">
	<p>
		<span class="mh-more-name">
			相关链接
		</span>
		<span class="mh-more-rec-link">
			<a href="">买二手车</a>
		</span>
		<span class="mh-more-rec-link">
			<a href="">在线卖车</a>
		</span>
		<span class="mh-more-rec-link">
			<a href="">转换新车</a>
		</span>
	</p>
</div>