<style>

	.mohe-demo .mh-tab-wrap {
		border-top: 2px #4ac127 solid;
	}
	.mohe-demo .mh-tab-heads {
		background-color: #f8f8f8;
		width: 100%;
	}
	.mohe-demo .mh-tab-heads .mh-tab-head {
		border-right: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		text-align: center;
		cursor: pointer;
		padding: 6px 0;

		color: #3fad0c;
		font-weight: 700;
	}
	.mohe-demo .mh-tab-heads .mh-tab-head.mh-tab-head-last {
		border-right: none;
	}

	.mohe-demo .mh-tab-heads .mh-tab-active {
		border-bottom: 1px solid #fff;
		background-color: #fff;
		font-weight: bold;
		color: #cc0000;
	}

	.mohe-demo .mh-tab-items {
		min-height: 100px;
	}

	.mohe-demo .mh-tab-items .mh-tab-item {
		display: none;
	}

	.mohe-demo .mh-tab-items .mh-tab-active {
		display: block;
	}

</style>
<div class="mohe-demo">
	<div class="mohe-wrap mh-tab-wrap">
		<table class="mh-tab-heads">
			<tr>
				<td class="mh-tab-head mh-tab-active">我是Tab1</td>
				<td class="mh-tab-head">我是Tab2</td>
				<td class="mh-tab-head">我是Tab3</td>
				<td class="mh-tab-head mh-tab-head-last">我是Tab4</td>
			</tr>
		</table>
		<div class="mh-tab-items">
			<div class="mh-tab-item mh-tab-active"><br>&nbsp;&nbsp;我是Tab1的内容</div>
			<div class="mh-tab-item"><br>&nbsp;&nbsp;我是Tab2的内容</div>
			<div class="mh-tab-item"><br>&nbsp;&nbsp;我是Tab3的内容</div>
			<div class="mh-tab-item"><br>&nbsp;&nbsp;我是Tab4的内容</div>
		</div>
	</div>
</div>

<script>
_loader.use("jquery",function(){
	var context = $(".mohe-demo"),
		tabs = $('.mh-tab-heads', context),
		items = $('.mh-tab-item', context);

	tabs.on("click",".mh-tab-head",function(){
		var _index = $(this).index();
		$(this).addClass("mh-tab-active").siblings().removeClass("mh-tab-active");
		items.eq(_index).addClass("mh-tab-active").siblings().removeClass("mh-tab-active");
	});
});
</script>