<style>
	.mohe-demo .mohe-wrap{
		width: 533px;
	}
	.mohe-demo .mh-album-item{
		border-bottom: 1px solid #eee;
	}
	.mohe-demo .mh-item-hd,
	.mohe-demo .mh-item-bd{
		overflow: hidden;
	}
	.mohe-demo .mh-item-hd{
		_width: 499px;/*IE6下晃动*/
		padding: 5px 25px 5px 10px;
		color: #999;
		background: url(http://p6.qhimg.com/t01e14475e1f5807fe8.gif) no-repeat 98% 12px;
	}
	.mohe-demo .mh-unfold .mh-item-hd{
		background-image: url(http://p2.qhimg.com/t0159dd40bfb2d01e8a.gif);
	}
	.mohe-demo .mh-item-bd{
		_width: 513px;/*IE6下晃动*/
		padding: 0 10px;
		display: none;
	}
	.mohe-demo .mh-item-hd .mh-l{
		float: left;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
		width: 60%;
	}
	.mohe-demo .mh-item-hd .mh-r{
		float: right;
	}
	.mohe-demo .mh-item-hd .mh-title{
		text-decoration: none;
	}
	.mohe-demo .mh-item-hd .mh-title:hover{
		text-decoration: underline;
	}
	.mohe-demo .mh-color{
		background-color:#eee;
	}
</style>
<div class="mohe-demo">
	<div class="mohe-wrap">
		<div class="mh-album-item mh-unfold">
			<div class="mh-item-hd gclearfix">
				<div class="mh-l">
					<span>[专辑1]</span>
					<a href="http://www.dianping.com/shop/515381" target="_blank" class="mh-title">再续意难忘第二部再续意难忘第二部再续意难忘第二部</a>
				</div>
				<p class="mh-r">
					<span>
						总播数：23万
					</span>
				</p>
			</div>
			<div class="mh-item-bd" style="display:block;">
				<p class="mh-txt">
					我要吃麦当劳肯德基必胜客星巴克DQ鸭血粉丝小笼包炸鸡排凤尾虾意大利面双层吉士堡上校鸡块奥尔良烤翅艾米烤肠麻辣烫酸辣粉寿司蛋包饭盖浇饭炒面凉面炸酱面酸菜鱼鱼香肉丝蘑菇餐厅咖喱饭辣子鸡生煎包披萨牛排海底捞烤肉紫菜包饭金针菇马卡龙三明治芝士蛋糕多芒小丸子香草星冰乐焦糖玛奇朵养乐多
				</p>
			</div>
		</div>
		<div class="mh-album-item">
			<div class="mh-item-hd">
				<div class="mh-l">
					<span>[专辑1]</span>
					<a href="http://www.dianping.com/shop/515381" target="_blank" class="mh-title">再续意难忘第二部再续意难忘第二部再续意难忘第二部</a>
				</div>
				<p class="mh-r">
					<span>
						总播数：23万
					</span>
				</p>
			</div>
			<div class="mh-item-bd">
				<p class="mh-txt">
					我要吃麦当劳肯德基必胜客星巴克DQ鸭血粉丝小笼包炸鸡排凤尾虾意大利面双层吉士堡上校鸡块奥尔良烤翅艾米烤肠麻辣烫酸辣粉寿司蛋包饭盖浇饭炒面凉面炸酱面酸菜鱼鱼香肉丝蘑菇餐厅咖喱饭辣子鸡生煎包披萨牛排海底捞烤肉紫菜包饭金针菇马卡龙三明治芝士蛋糕多芒小丸子香草星冰乐焦糖玛奇朵养乐多
				</p>
			</div>
		</div>
		<div class="mh-album-item">
			<div class="mh-item-hd">
				<div class="mh-l">
					<span>[专辑1]</span>
					<a href="http://www.dianping.com/shop/515381" target="_blank" class="mh-title">再续意难忘第二部再续意难忘第二部再续意难忘第二部</a>
				</div>
				<p class="mh-r">
					<span>
						总播数：23万
					</span>
				</p>
			</div>
			<div class="mh-item-bd">
				<p class="mh-txt">
					我要吃麦当劳肯德基必胜客星巴克DQ鸭血粉丝小笼包炸鸡排凤尾虾意大利面双层吉士堡上校鸡块奥尔良烤翅艾米烤肠麻辣烫酸辣粉寿司蛋包饭盖浇饭炒面凉面炸酱面酸菜鱼鱼香肉丝蘑菇餐厅咖喱饭辣子鸡生煎包披萨牛排海底捞烤肉紫菜包饭金针菇马卡龙三明治芝士蛋糕多芒小丸子香草星冰乐焦糖玛奇朵养乐多
				</p>
			</div>
		</div>
		<div class="mh-album-item">
			<div class="mh-item-hd">
				<div class="mh-l">
					<span>[专辑1]</span>
					<a href="http://www.dianping.com/shop/515381" target="_blank" class="mh-title">再续意难忘第二部再续意难忘第二部再续意难忘第二部</a>
				</div>
				<p class="mh-r">
					<span>
						总播数：23万
					</span>
				</p>
			</div>
			<div class="mh-item-bd">
				<p class="mh-txt">
					我要吃麦当劳肯德基必胜客星巴克DQ鸭血粉丝小笼包炸鸡排凤尾虾意大利面双层吉士堡上校鸡块奥尔良烤翅艾米烤肠麻辣烫酸辣粉寿司蛋包饭盖浇饭炒面凉面炸酱面酸菜鱼鱼香肉丝蘑菇餐厅咖喱饭辣子鸡生煎包披萨牛排海底捞烤肉紫菜包饭金针菇马卡龙三明治芝士蛋糕多芒小丸子香草星冰乐焦糖玛奇朵养乐多
				</p>
			</div>
		</div>
	</div>
</div>
<script>
	_loader.use('jquery',function(){
		var context = $(".mohe-demo"),
			itemHd = $(".mh-item-hd",context);

		itemHd.hover(function(){
			$(this).addClass("mh-color");
		},function(){
			$(this).removeClass("mh-color");
		});

		itemHd.on('click',function(e){
			var me = $(this),
				parent = me.parent(".mh-album-item"),
				pBrothers = parent.siblings(),
				itemBd = me.siblings(".mh-item-bd")
				time = 150;

			if(!parent.hasClass("mh-unfold")){
				itemBd.stop(true,true).slideDown(time,function(){
					parent.addClass("mh-unfold");
				});
				pBrothers.find(".mh-item-bd").stop(true,true).slideUp(time,function(){
					pBrothers.removeClass("mh-unfold");
				});
			}else{
				itemBd.stop(true,true).slideUp(time,function(){
					parent.removeClass("mh-unfold");
				});
			}
		});
	});
</script>